.petdetail {
    width: 100%;
}

.form-select {
    width: 60rem;
    display: flex;
}

.status {
    display: flex;
    justify-content: center;
}

textarea {
    width: 60%;
    height: 100%;
}

.comment {
    display: flex;
    justify-content: center;
}


h3 {
    margin-top: 3rem;
}

.hidden{
    display: none;
}
