.pet{
    padding: 4rem;
    border: 2px solid #333;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

.dog{
    background-color: #F0FFFF;
}

.cat{
    background-color: #FAEBD7;
}

.link{
    text-decoration: none;
}